deliverables/node-red.json
[{"id":"7953cb0d.8eaed4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95a75714.fcfe98","type":"exec","z":"7953cb0d.8eaed4","command":"python RunSimulationScript.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":370,"y":340,"wires":[["80bc0a21.4a4158"],[],[]]},{"id":"57e6bed.c38a44","type":"inject","z":"7953cb0d.8eaed4","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":40,"wires":[["95a75714.fcfe98","9e8bbb52.e1a028"]]},{"id":"80bc0a21.4a4158","type":"function","z":"7953cb0d.8eaed4","name":"Filter","func":"var result_list = [];\nvar rows_list = [];\n\nif (msg.payload.startsWith(\"{\")){\n    rows_list = msg.payload.split(\"\\n\");   \n    \n    for (let i = 0; i < rows_list.length; i++)\n        if (rows_list[i].startsWith(\"{\"))\n            result_list.push(JSON.parse(rows_list[i]));\n}\n\nreturn result_list;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["394d7aa3.652be6"]]},{"id":"cba38e71.6928e","type":"debug","z":"7953cb0d.8eaed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":460,"wires":[]},{"id":"7d1941bc.8867b","type":"mqtt out","z":"7953cb0d.8eaed4","name":"","topic":"channels/2232092/publish","qos":"1","retain":"","broker":"92d0338e.f2208","x":1130,"y":240,"wires":[]},{"id":"394d7aa3.652be6","type":"delay","z":"7953cb0d.8eaed4","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":340,"wires":[["7d1941bc.8867b","cba38e71.6928e"]]},{"id":"9e8bbb52.e1a028","type":"function","z":"7953cb0d.8eaed4","name":"Reset","func":"\nreturn {\"reset\":1};","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"92d0338e.f2208","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"JCwOBSwsKBsJPRYxMSwtJS4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
