code-merged/node-red.txt
[{"id":"95e54f00.b01d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15423916.90c587","type":"exec","z":"95e54f00.b01d4","command":"python RunSimulationScript.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":430,"y":380,"wires":[["6210c6b7.0a9de8"],[],[]]},{"id":"220b7c5e.042e64","type":"inject","z":"95e54f00.b01d4","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":190,"y":380,"wires":[["15423916.90c587"]]},{"id":"6210c6b7.0a9de8","type":"function","z":"95e54f00.b01d4","name":"Filter","func":"var result_list = [];\nvar rows_list = [];\n\nif (msg.payload.startsWith(\"{\")){\n    rows_list = msg.payload.split(\"\\n\");   \n    \n    for (let i = 0; i < rows_list.length; i++)\n        if (rows_list[i].startsWith(\"{\"))\n            result_list.push(JSON.parse(rows_list[i]));\n}\n\nreturn result_list;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["b7edfeb8.0c9f1","7821bb5a.3f3a84"]]},{"id":"b7edfeb8.0c9f1","type":"mqtt out","z":"95e54f00.b01d4","name":"","topic":"channels/2231083/publish","qos":"1","retain":"","broker":"92d0338e.f2208","x":950,"y":240,"wires":[]},{"id":"7821bb5a.3f3a84","type":"debug","z":"95e54f00.b01d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":400,"wires":[]},{"id":"92d0338e.f2208","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"JCwOBSwsKBsJPRYxMSwtJS4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]